.main-toggle-btn {
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.collapsed-toggle-btn {
    transform: rotate(180deg);
}

@media (min-width: 768px) {

    /* not mobile */
    .colmd2 {
        width: 16%;
        transition: all 0.3s ease;
    }

    .colmd10 {
        width: 84%;
        transition: all 0.3s ease;
    }

    .colmd2.collapsed {
        width: 6%;
    }

    .colmd10.expanded {
        width: 94%;
    }

}
